<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="GeoGoCDM" type="Access_GeoGo.Data.Configuration.GeoGoCDM, Access-GeoGo"/>
	</configSections>	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--Change the currentUser attr. to one of the Database users - this is the default database location-->
	<GeoGoCDM>
		<Databases currentUser="Hannah">
			<Database user="Daddy" file="C:/Files/JenBar/Fuel/Fuel.accdb" />
			<Database user="Hannah" file="C:\Users\Hannah\MasterFiles\Coding\Visual Studio\Access-GeoGo\Fuel-Sample.accdb" />
		</Databases>
		<DataFeeds>
			<DataFeed feed="FaultData" token="0"/>
			<DataFeed feed="StatusData" token="1"/>
		</DataFeeds>
	</GeoGoCDM>	
	
    <connectionStrings>
        <add name="Access_GeoGo.Properties.Settings.GeoGo_Database_ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Geotab-Auth-Test.accdb"
            providerName="System.Data.OleDb" />
        <add name="Access_GeoGo.Properties.Settings.Geotab_Fuel_DB_ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Hannah\MasterFiles\Coding\Visual Studio\Access-GeoGo\Fuel-Sample.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <System.Windows.Forms.ApplicationConfigurationSection>
	    <System.Windows.Forms.ApplicationConfigurationSection>
		    <add key="DpiAwareness" value="PerMonitorV2" />
	    </System.Windows.Forms.ApplicationConfigurationSection>
    </System.Windows.Forms.ApplicationConfigurationSection>	

</configuration>